html{background-color:#fafafa;}
*{margin:0;padding:0;}
.icon { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }

.mm .li-item{height:30px;line-height:30px;border:1px #ddd solid;border-radius: 4px;background-color:#ddd;margin:3px;text-indent:10px;color:#444;cursor:pointer;}
.mm .li-item span{margin-left:15px;}
.mm .li-item:hover{background-color:#ccc;}
.mm li ul li{margin-left:50px;}
